 .u-section-1 {
  background-image: linear-gradient(to right, #ffffff, #b3b3b3);
}

.u-section-1 .u-sheet-1 {
  min-height: 895px;
}

.u-section-1 .u-text-1 {
  margin: 83px auto 0 326px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 440px;
}

.u-section-1 .u-line-1 {
  width: 461px;
  transform-origin: left center 0px;
  margin: 20px auto 0 326px;
}

.u-section-1 .u-image-1 {
  width: 953px;
  height: 557px;
  margin: 60px auto 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 363px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 550px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 421px;
    margin-top: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 199px;
    margin-top: 43px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, white, #b3b3b3);
}

.u-section-2 .u-sheet-1 {
  min-height: 741px;
}

.u-section-2 .u-shape-1 {
  width: 967px;
  height: 638px;
  margin: 23px auto 0 70px;
}

.u-section-2 .u-image-1 {
  width: 940px;
  height: 583px;
  margin: -611px auto 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 584px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-2 .u-shape-1 {
    height: 501px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 703px;
    height: 437px;
    margin-top: -469px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-2 .u-shape-1 {
    height: 232px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 211px;
    margin-top: -221px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, white, #b3b3b3);
}

.u-section-3 .u-sheet-1 {
  min-height: 731px;
}

.u-section-3 .u-shape-1 {
  width: 1037px;
  height: 631px;
  margin: 25px auto 0;
}

.u-section-3 .u-image-1 {
  width: 980px;
  height: 583px;
  margin: -607px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 559px;
    margin-top: -617px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-3 .u-shape-1 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 428px;
    margin-top: -455px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 88px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-3 .u-shape-1 {
    height: 237px;
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 202px;
    margin-top: -219px;
    margin-bottom: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: linear-gradient(to right, white, #b3b3b3);
}

.u-section-4 .u-sheet-1 {
  min-height: 720px;
}

.u-section-4 .u-group-1 {
  width: 1063px;
  min-height: 536px;
  background-image: none;
  margin: 54px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 18px 20px;
}

.u-section-4 .u-image-1 {
  height: 500px;
  width: 1013px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 129px;
    min-height: 479px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 17px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 438px;
    width: 927px;
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 60px;
    min-height: 382px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-image-1 {
    height: 255px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-4 .u-group-1 {
    min-height: 196px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 161px;
    margin-top: 0;
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(to right, white, #b3b3b3);
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 255px 184px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 500px;
  height: 240px;
  margin: -240px 70px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -173px auto 0 143px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px auto 60px 104px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 268px;
    margin-right: 147px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 329px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -346px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 307px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 230px;
  }

  .u-section-5 .u-image-1 {
    height: 163px;
    margin-top: -170px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -222px;
  }
}